
<div class="text-layout">

    <app-menu></app-menu>
    
    <h1>{{nombre | uppercase}}</h1>

<button pButton 
    (click)="mostrarNombre()"
    label="cambiar nombre"
    icon="pi pi-bell"
    iconPos="right"
    class="p-button-help"
    >

</button>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
    
    Content
    
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat voluptatibus ab quidem enim sed laborum minus delectus est, ipsa iste natus itaque! Corporis accusamus omnis illo minus perspiciatis optio id.
    

</p-card>
</div>


