<h2>Reactivos: <small>Switches</small></h2>
<br>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                type="radio" 
                value="M"
                formControlName="genero"
                id="radioMasc">
                <label class="form-check-label" for="flexRadioDefault1">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" 
                type="radio" 
                value="F"
                formControlName="genero"
                id="radioFem"
                >
                <label class="form-check-label" for="flexRadioDefault2">
                   Femenino
                </label>
              </div>
        </div>

    </div>

    <!-- switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                type="checkbox" 
                formControlName="condiciones"
                role="switch" 
                id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
              </div>
         </div>

    </div>

     <!-- checkbox -->
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                type="checkbox" 
                id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Términos y condiciones
                </label>
              </div>
        </div>
    </div>

    <!-- botón submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
            type="submit">
            Guardar</button>
        </div>
    </div>

</form>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value|json }}</pre>
<br>

<h5>Persona</h5>
<pre>{{ persona|json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
