<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Ir a Login</a>
    </li>

    <li>
        <a routerLink="/auth/registro">Ir a Registro</a>
    </li>
</ul>

<ul>
    <li>
        <a routerLink="/heroes/listado">Ir a listar héroes</a>
    </li>

    <li>
        <a routerLink="/heroes/agregar">Ir a agregar héroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar">Ir a editar héroe</a>
    </li>

    <li>
        <a routerLink="/heroes/buscar">Ir a buscar héroe</a>
    </li>
</ul>