<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>Pipes incluídos en Angular - Common module</p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{ nombre }}, es un placer {{ genero | i18nSelect:invitacionMapa }}
                a nuestro evento.
            </p>
            <button>Cambiar persona</button>
    
        </p-fieldset>
     </div>
    <div class="p-col p-md-6">
            <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
                <p>
                    Actualmente tenemos {{ clientes.length |i18nPlural:clientesMapa }}
                </p>
                <button>Borrar cliente</button>
            </p-fieldset>
    </div>
    
</div>