<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" 
        [formGroup]="miFormulario"
        (ngSubmit)="submitFormulario()">

            <!-- NOMBRE -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                    formControlName="nombre"
                    placeholder="Nombre del usuario">
                    <span class="form-text text-danger"
                    *ngIf="campoNoValido('nombre')">
                        Formato nombre y apellido
                    </span>
                </div>
            </div>

            <!-- EMAIL -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                     class="form-control" 
                     placeholder="Email del usuario"
                     formControlName="email">
                     <span class="form-text text-danger"
                     *ngIf="campoNoValido('email')">
                         {{ emailErrorMsg }}
                     </span>
                    
                </div>
            </div>

            <!-- USERNAME -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                     placeholder="nombre código del usuario"
                     formControlName="username">
                     <span class="form-text text-danger"
                     *ngIf="campoNoValido('username')">
                         el username no puede ser strider
                     </span>

                </div>
            </div>


            <!-- PASSWORD -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control"
                    formControlName="password" 
                    placeholder="Contraseña del usuario">
                    <span class="form-text text-danger"
                    *ngIf="campoNoValido('password')">
                       Contraseña mayor de 6 caracteres
                    </span>
                </div>
            </div>

           <!-- CONFIRMAR PASSWORD -->
           <div class="row mb-3">
            <label for="" class="col-sm-3 col-form-label">Confirmar password</label>
            <div class="col-sm-9">
                <input type="password" 
                formControlName="passwordConfirma"
                class="form-control" placeholder="Confirmar contraseña">
                <span class="form-text text-danger"
                *ngIf="campoNoValido('passwordConfirma')">
                    Contraseñas no coinciden
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button 
                type="submit"
                 class="btn btn-primary float-end"
                 [disabled]="miFormulario.pending">
                    Crear usuario
                </button>
            </div>
        </div>


        </form>
    </div>
</div>

<h2>Form Valid: {{ miFormulario.valid }}</h2>
<h2>Form Status: {{ miFormulario.status }}</h2>
<h2>Form errors: </h2>
<pre>{{ miFormulario.errors|json}}</pre>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls['nombre'].errors|json }}</pre>


<h5>Email</h5>
<pre>{{ miFormulario.controls['email'].errors|json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls['username'].errors|json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls['password'].errors|json }}</pre>

<h5>Password confirma</h5>
<pre>{{ miFormulario.controls['passwordConfirma'].errors|json }}</pre>